.container{
    position: relative;
    margin-top: 100px;
    margin-left: 250px;
    border: solid black 4px;
   display: flex;
   height: 70vh;
   width: 40%;
  justify-content: space-around;

    }

    .box1{
        width: 150px;
        height: 100px;
        border: 2px solid;
        margin: 15px;
        }

    .box2{
            width: 150px;
            height: 100px;
            border: 2px solid;
            margin: 15px;
            }

     .box3{
                width: 150px;
                height: 100px;
                border: 2px solid;
                margin: 15px;
            }
            
        .box4{
                position:absolute;
                width: 400px;
                height: 100px;
                border: 2px solid black;
                top: 140px;
                left: 70px;
            }  
        .box5{
            position: absolute;
            top: 300px;
            border: solid 2px black;
            height: 125px;
            width: 220px;
           left: 15px;
        }
        .box6{
            position: absolute;
            top: 300px;
            border: solid 2px black;
            height: 125px;
            width: 220px;
           right: 15px;
        }